# Environment Settings
DEBUG=True
SECRET_KEY=django-insecure-xp*_)5awfv_!#8z9)(6*n@2i$r9fbo!7v#tb35yua^ypp%*es&

# Database Settings
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# Allowed Hosts
ALLOWED_HOSTS=localhost,127.0.0.1
